{% extends 'base.html.twig' %}

{% block title %}Patrimoine
{% endblock %}

{% block body %}

	<div>
		<h1>PATRIMOINE
		</br>SAINT PRIVAT D'ALLIER
	</h1>


	<div id="map"></div>



	<div class="container-fluid">
		<div class="row row-cols-2">
			{% for patrimony in patrimonies %}
				<div class="patrimony_card col" id="{{ patrimony.name }}">
					<h2>{{ patrimony.name }}</h2>
					<div class="patrimony_thumbnail">
						<img src="{{ asset('uploads/images/patrimony/thumbnail/' ~ patrimony.thumbnail)}}" alt="photo patrimoine" width='125' height='80'>
					</div>
					<div class="patrimony_info">
						{{ patrimony.description }}
					</div>
					<div class="patrimony_btn">
						<a href="{{ path('patrimony_show', {'id': patrimony.id}) }}">Ajout avis/photos</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{#=======================
	script map visitor 
=========================#}
	<script>

		// import array json prop. patrimony
const patrimonyJson = {{ jsonPatrimony | raw }};
console.log(patrimonyJson);

/*====================
       MAP leaflet
======================*/

let map = L.map('map').setView([44.989084, 3.678188], 13);

// chargement couches tuiles
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
attribution: 'mapbox@copyright 2022', maxZoom: 17, id: 'mapbox/streets-v11', 
tileSize: 512, // largeur=hauteur des carreaux ds la grille
zoomOffset: -1, // décalage url des tuiles
accessToken: 'pk.eyJ1Ijoia2h5b3UiLCJhIjoiY2t5MXV2NTN6MGFodTJybnk2djVlMnM0ayJ9.OMzknVx50M2aODmwOMv-tw'}).addTo(map);

// variables globales
let markerArray = []; // uniquement pour la boucle foreach
let lon;
let lat;
let poptext;
let markerLocation;
let marker;

// boucle dans tableau patrimoine pour envoyer les markers

{% for patrimony in patrimonies %}
// console.log(patrimony);
// lon = patrimony.lon;
// lat = patrimony.lat;
// //création du Popup (queue/data du marker)

{# let picture = "http://127.0.0.1:8000/uploads/images/patrimony/thumbnail/" + patrimony.thumbnail + "";#}
{# console.log(picture);#}




// markerLocation = new L.latLng(lat,lon);//instancie L.latlng
// marker = new L.Marker(markerLocation);//instancie L.Marker
// map.addLayer(marker);//création du marker
// markerArray.push(marker.bindPopup(poptext));//tentative du tableau des markers

//variable poptext binPopup du Marker (descriptions...)
{% set poptext %}
'<p> {{ patrimony.name }}</p><p> {{ patrimony.description }}</p><p><img src=" {{ asset('uploads/images/patrimony/thumbnail/' ~ patrimony.thumbnail) }}" alt="photo patrimoine" width="125" height="80"/></p><a target=_blank href="patrimony/show/{{ patrimony.id }}">aller à </a>' {% endset %}

//Marker
L.marker([{{ patrimony.lat }}, {{ patrimony.lon }}]).addTo(map).bindPopup({{ poptext }}){% endfor %}
// test ...
// console.log(markerArray);
// markerArray[2];


// ==TEST function marker pour .map TEST==
//         function MarkerPatrimony(em) {
//         lon = em.lon
//         lat = em.lat
//         poptext = "<p>"+em.name+"</p><p>" + em.description + "</p> <img src='./uploads/images/patrimony/pictures/"+ em.thumbnail+"' />"
//         markerLocation = new L.latLng(lat,lon)
//         marker = new L.Marker(markerLocation)


//    return (
//        map.addLayer(marker)
//    )}

//    patrimonyJson.map((patrimony) => {
//        MarkerPatrimony ({...patrimony})
//        });


// click done lat lon
var popup = L.popup();
function onMapClick(e) {
	popup
		.setLatLng(e.latlng)
		.setContent("Vous êtes ici: " + e.latlng.toString() + "<a target=_blank href='patrimony/new?lat=" + e.latlng.lat + "&lng=" + e.latlng.lng + "'>Ajouter ici un patrimoine à la liste?</a>")
		.openOn(map)
}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	map.on('click', onMapClick);
{% endif %}
</script>

{% endblock %}
