{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">retour à la liste</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
