{% extends 'base.html.twig' %}

{% block title %}Comment index
{% endblock %}

{% block body %}
	<h1>Modération commentaires</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Content</th>
				<th>CreatedAt</th>
				<th>active</th>
				<th>actions</th>
		<pre>
            
        </pre>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
				<tr>
					<td>{{ comment.content }}</td>
					<td>{{ comment.createdAt ? comment.createdAt|date('d-m-Y') : '' }}</td>
                    <td>{{ comment.active }}</td>
					<td>
					<a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
					</td>
				</tr>			
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
