/*=========================
    paramètres généraux
===========================*/

*, ::after, ::before 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Raleway', sans-serif;
}

h1 {
   color:green; 
   text-align: center;
}



/*=====================
        MAP
======================*/


#map {
    height: 380px; 
}



/*====================
    bouton recherche
=====================*/

.is-hidden { display: none; }

/*=====================================
             TOP NAV
=======================================*/

ul {
    margin-bottom: 0rem;
}

.top-nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: green;

}

.top-nav-container li {
    list-style: none;
    font-size: 16px;
    margin: auto 30px;
}

.top-nav-container a {
    font-family:"Poppins";
    text-decoration: none;
    color: white;
}

.top-nav-admin {
    display: flex;
    width: 115%;
}

.top-nav-admin ul{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.top-nav-user {
    display: flex;
    width: 40%;
}

.top-nav-user a {
    display: flex;
    font-family: "RacingSansOne";
    background-color: #FFCC1D;
    color: green;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.top-nav-user a:hover {
    background-color: #FFCC1D;
    transform: scale(1.2);
}

.top-nav-user ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.welcome_msg {
    color: white;
}

/*==========================================
            patrimony CARD HOME 
===========================================*/

.home_title {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 800;
    padding: 50px;
}

/* .patrimony_card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 10px;
    width: 100%;
    margin-top: 12px;
} */

/* @media screen and (max-width: 576px) {
    .patrimony_card_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 10px;
        width: 60%;
        margin-top: 12px;
        background-color: #FFCC1D;
    }
} */

.patrimony_card {
    position: relative;
    /* background-color: #115b21; */
    border-radius: 10px;
    width: 350px;
    height: 600px;
    margin: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}

.patrimony_card h2 {
    text-align: center;
    padding: 12px;
}

.patrimony_thumbnail {
    padding: 12px;
}

.patrimony_thumbnail img{
    width: 100%;
    height:18em;
    /* border-bottom: #FFCC1D 5px solid; */
    border-radius: 10px;
}

.patrimony_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    width: 100%;
    padding: 22px 0 22px 0;
    color: rgb(7, 80, 11);
}

.patrimony_infos {
    text-align: justify;
}

.patrimony_infos h2 {
    padding: 5px;
}

.patrimony_btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.patrimony_btn a{
    font-size: 19px;
    text-decoration: none;
    color: #113B5B;
    padding: 10px;
    text-align: center;
    border: none;
    height: 49px;
    width: 160px;
    border-radius: 10px;
    background-color: #FFCC1D;
    font-family:"RacingSansOne";
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.patrimony_btn a:hover {
    transform: scale(1.1);
}

.patrimony_infos div {
    padding: 5px;
}

.patrimony_info p {
    text-align: justify;
    padding: 5px 15px 15px 15px;
}