<form method="post" action="{{ path('pictures_delete', {'id': picture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn">Delete</button>
</form>
