{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}

{% block body %}
    <h1>Types</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ type.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('types_index') }}">back to list</a>

    <a href="{{ path('types_edit', {'id': type.id}) }}">edit</a>

    {{ include('types/_delete_form.html.twig') }}
{% endblock %}
