<form method="post" action="{{ path('patrimony_delete', {'id': patrimony.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce patrimoine?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patrimony.id) }}">
    <button class="btn">💥Supprimer💥</button>
</form>
