{{ form_start(formPatrimony) }}
<div class="container-fluid">
	<div class="row gx-5 gy-5 justify-content-md-center">
		<div class="col-3">
			<div class="row mt-3 border bg-light">
				{{ form_label(formPatrimony.name, 'Nom', { 'attr': {'class': 'form-label'}})}}
				{{ form_widget(formPatrimony.name, { 'attr': {'class': 'form-control'}})}}
				{{ form_label(formPatrimony.thumbnail, 'Vignette', { 'attr': {'class': 'form-label'}})}}
				{{ form_widget(formPatrimony.thumbnail, { 'attr': {'class': 'form-control'}})}}
				<span class="justify-content-md-center">
					{% if patrimony.thumbnail %}
						<img class="col-6 " src="{{ asset('uploads/images/patrimony/thumbnail/' ~ patrimony.thumbnail)}}" alt="photo patrimoine" width='60' height='60'>
					</span>
				{% endif %}
			</div>
		</div>
		<div class="row gx-5 gy-5 justify-content-md-center">
			<div class="col-3">
				<div class="row">
					{{ form_label(formPatrimony.description, 'Description', { 'attr': {'class': 'form-label'}})}}
					{{ form_widget(formPatrimony.description, { 'attr': {'class': 'form-control'}})}}
				</div>
				<div class="row">
					{{ form_label(formPatrimony.type, 'Type', { 'attr': {'class': 'form-label'}})}}
					{{ form_widget(formPatrimony.type, { 'attr': {'class': 'form-control'}})}}
				</div>
			</div>
		</div>
		<div class="row gx-5 gy-5 justify-content-md-center">
			<div class="col-3">
				<div class="row">
					{{ form_label(formPatrimony.works, 'Travaux', { 'attr': {'class': 'form-label'}})}}
					{{ form_widget(formPatrimony.works, { 'attr': {'class': 'form-control'}})}}
				</div>
				<div class="row">
					{{ form_label(formPatrimony.maintenance, 'Maintenance', { 'attr': {'class': 'form-label'}})}}
					{{ form_widget(formPatrimony.maintenance, { 'attr': {'class': 'form-control'}})}}
				</div>
			</div>
		</div>

		<div class="row gx-5 gy-5 justify-content-md-center">
			<div class="col-3">
				<div class="row">
					{{ form_label(formPatrimony.lat, 'Latitude', { 'attr': {'class': 'form-label'}})}}
					{% if latitude %}
						{{ form_widget(formPatrimony.lat, {'attr': {'value': latitude ? latitude : '', 'class': 'form-control'}})}}
					{% else %}
						{{ form_widget(formPatrimony.lat)}}
					{% endif %}
				</div>
			</div>
			<div class="col-3">
				<div class="row">
					{{ form_label(formPatrimony.lon, 'Longitude', { 'attr': {'class': 'form-label'}})}}
					{% if longitude %}
						{{ form_widget(formPatrimony.lon, {'attr': {'value': longitude ? longitude : '', 'class': 'form-control'}})}}
					{% else %}
						{{ form_widget(formPatrimony.lon)}}
					{% endif %}

				</div>
			</div>
		</div>


		<div class="row gx-5 gy-5 justify-content-md-center">
			<div class="col-3">
				<button class="btn btn-primary mb-3 px-5">Sauvegarde/Valider</button>
			</div>
		</div>
	</div>
</div>
{{form_end(formPatrimony)}}
