{% extends 'base.html.twig' %}

{% block title %}Edit Patrimony{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-5">Patrimoine édition fiche</h1>

    {{ include('patrimony/_form.html.twig', {'button_label': 'Update'}) }}


    <div class="mt-3 mb-3"><a href="{{ path('patrimony_index') }}">retour liste patrimoine</a></div>


    {{ include('patrimony/_delete_form.html.twig') }}
{% endblock %}
