{% extends 'base.html.twig' %}

{% block title %}Patrimony index{% endblock %}

{% block body %}
<h1>Gestion Patrimoines</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Travaux</th>
            <th>CreatedAt</th>
            <th>Vignette</th>
            <th>Maintenance</th>
            <th>Latitude</th>            
            <th>Longitude</th>             
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patrimony in patrimonies %}
        <tr class="table_patrimony">
            <td>{{ patrimony.id }}</td>
            <td>{{ patrimony.name }}</td>
            <td>{{ patrimony.description }}</td>
            <td>{{ patrimony.works }}</td>
            <td>{{ patrimony.createdAt ? patrimony.createdAt|date('d-m-Y') : '' }}</td>
            <td><img src="{{ asset('uploads/images/patrimony/thumbnail/' ~ patrimony.thumbnail)}}"alt="photo patrimoine" width='125' height='80'></td>

            <!--=====gestion maintenance===-->
            <td> <i class="fa fa-circle" style="color:{{patrimony.alert}}"></i> {{ patrimony.maintenance.periodicity }}</td>
            <!--=============================-->
            <td>{{ patrimony.lat }}</td>
            <td>{{ patrimony.lon }}</td>
            <td><a href="{{ path('patrimony_show', {'id': patrimony.id}) }}">voir</a>
                <a href="{{ path('patrimony_edit', {'id': patrimony.id}) }}">éditer/modifier</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('patrimony_new') }}">Créer nouveau patrimoine</a>
{% endblock %}