{% extends 'base.html.twig' %}

{% block title %}New Patrimony{% endblock %}

{% block body %}
    <h1>Create new Patrimony</h1>
<div id="mapNew" style="height:260px; width:560px"></div>
    {{ include('patrimony/_form.html.twig') }}


    <a href="{{ path('home') }}">retour page accueil.</a>

    <script>
    /*====================
       MAP leaflet
======================*/

let mapNew= L.map('mapNew').setView([45.009999, 3.67889], 13);
var popup = L.popup();

// chargement couches tuiles

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
attribution: 'mapbox@copyright 2022', maxZoom: 17, id: 'mapbox/streets-v11', 
tileSize: 512, // largeur=hauteur des carreaux ds la grille
zoomOffset: -1, // décalage url des tuiles
accessToken: 'pk.eyJ1Ijoia2h5b3UiLCJhIjoiY2t5MXV2NTN6MGFodTJybnk2djVlMnM0ayJ9.OMzknVx50M2aODmwOMv-tw'}).addTo(mapNew);

L.marker([{{ latitude }}, {{ longitude }}]).addTo(mapNew)



</script>
{% endblock %}
