{% extends 'base.html.twig' %}

{% block title %}Patrimoine
{% endblock %}

{% block body %}

	<h1>Patrimonoine</h1>
	<div class="container-fluid px-4">
		<div class="row gx-5 gy-5">
			<div class="row row-cols-6 gx-5 p-3 border bg-light">
				<h2 class=""> {{ patrimony.name }}</h2>
				<img src="{{ asset('uploads/images/patrimony/thumbnail/' ~ patrimony.thumbnail)}}" alt="photo patrimoine" width='125' height='80'>
			</div>
			<div>
				<div class="col p-3 border bg-light">
					<h3>Description</h3>
					<p>{{ patrimony.description }}</p>
				</div>
				<div class="col p-3 border bg-light">
					<h3>Travaux</h3>
					<p>{{ patrimony.works }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid px-4 mt-5">
		<div class="row row-cols-2">
			<div class="row row-cols-8 gx-3 gy-3">
				<section id="commentaires">

					<h5>Commentaires</h5>
					{% for comment in patrimony.comments %}
						{% if comment.active == true %}
							<p class="row-cols-1"> {{comment.Content | raw}} {{comment.CreatedAt | date("d/m/Y")}}
							</p>
							{% elseif comment.active == false %}
						{% endif %}
					{% endfor %}

				</section>
			</div>
			<div class="row gx-3 gy-3 mb-5">
				<section id="photos">
					<h5>Photos</h5>
					<div class="row row-cols-6 gx-3">
						{% for picture in patrimony.pictures %}
							<div class="row row-cols-6 gx-3">
								<div class="col">
									<img src="{{ asset('uploads/images/patrimony/pictures/' ~ picture.photo) }}" alt="{{ picture.photo }}" width='125' height='80'> {{ picture.legend| raw }}
								</div>
							</div>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="container-fluid px-4 mt-5">
		<div class="row row-cols-2 justify-content-md-center">
			<div class="col-3">
				<section id="formComment">
					<div class="row mt-3 border bg-light">
						<div class="col-sm">
							<h5>Ajouter commentaire</h5>
							<div class="mb-3"> {{form_start(commentForm)}} {{form_label(commentForm.content, 'Commentaire', {'attr': {'class': 'form-label'}})}} {{form_widget(commentForm.content, {'attr' : {'placeholder' : 'votre avis', 'class': 'form-control'}})}}
								{% do commentForm.active.setRendered %}
							</div>
							<button type="submit" class="btn btn-primary mb-3">Votre commentaire
							</button> {{ form_end(commentForm)}}

						</div>
					</div>
				</section>
			</div>
			<div class="col-3">
				<section id="formPictures">
					<div class="row mt-3 border bg-light">
						<div class="col">
							<h5>Insérer photo</h5>
							<div class="col mb-3"> {{form_start(picturesForm)}} {{form_label(picturesForm.photo, 'Photo', { 'attr': {'placeholder': 'Photo', 'class': 'form-label'}})}} {{form_widget(picturesForm.photo, {'attr' : {'placeholder': 'photo', 'class': 'form-control'}})}}
							</div>
							<div class="col mb-3"> {{form_label(picturesForm.legend, 'Legende')}} {{form_widget(picturesForm.legend, {'attr' : {'placeholder' : " legende"}})}}
							</div>
							<button type="submit" class="btn btn-primary mb-3">Valid photo/légende</button> {{ form_end(picturesForm)}}
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<a href="{{ path('home') }}">retour</a>
{% endblock %}
