<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using
							Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

			<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>

			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>

			<link href="https://fonts.googleapis.com/css2?family=Gurajada&family=Halant:wght@300;400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>

			<link
			rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
			<!-- Make sure you put this AFTER Leaflet's CSS -->
			<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

			<!-- {{ encore_entry_link_tags('app') }} -->
		{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-warning p-3 mb-3" style="font-weight:bolder" >
			<a class="navbar-brand text-success" href="{{ path('home') }}">Accueil</a>
			<button class="navbar-toggler text-success"  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			{% if is_granted('ROLE_ADMIN') %}
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav text-dark">
						<li class="nav-item active">
							<a class="nav-link text-success" href="{{ path('patrimony_index') }}">Gestion des patrimoines<span class="sr-only">(current)</span>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-success" href="{{ path('comment_index') }}">Gestion des commentaires</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-success" href="{{ path('types_index') }}">Gestion des genres
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-success" href="{{ path('pictures_index') }}">Gestion des photos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-success" href="{{ path('maintenance_index') }}">Gestion des maintenances</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-success" href="{{ path('user_index') }}">Gestion des utilsateurs</a>
						</li>

					</ul>
				</div>
			{% endif %}
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav text-danger">
				
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<div class="d-flex flex-column mx-5">
					<li class="nav-item text-dark">Bonjour
							{{ app.user.nickname }}</li>
						<li class="nav-item">
							<a class="nav-link text-success pb-3" href="{{ path('logout') }}">Se déconnecter</a>
						</li>	
					{% else %}
						<li class="nav-item">
							<a class="nav-link text-success" href="{{ path('app_register') }}">S'inscrire</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-success" href="{{ path('login') }}">Se Connecter</a>
						</li>
						</div>
					{% endif %}
						<li class="nav-item mb-3" style="list-style: none;">
						<label for="searchbox" class="is-size-5"></label>
						<input class="nav-link text-success" class="input" type="search" id="searchbox" placeholder="recherche"/>
					</li>
				</ul>
			</div>
		</nav>


		{% block body %}{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('script.js') }}"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		{% endblock %}

	</body>

</html>
